{{!-- need to create a button that scrapes, and then just dsiplay all the articles, with duttons to show the comments
--}}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="">NEWS WITHOUT THE FUSS</h1>
            <a href="/scrape">
                <button class="btn" id="scrape">
                    Scrape the New York Times
                </button>
            </a>
            {{#each article}}
            <div class="section">
                <h5>
                    <a href="article/{{this._id}}">{{this.title}}</a>
                </h5>
                <p>{{this.summary}}</p>
            </div>
            <div class="divider"></div>
            {{/each}}
        </div>
    </div>
</div>
{{!--
<script type="text/javascript">
    $("#scrape").on("click", (event) => {
        event.preventDefault();
        $.ajax({
            method: "GET",
            URL: "/scrape"
        }).then(() => {
            location.reload();
        })
    })
</script> --}}